$primary: #f77062;
$secondary: #010c0e;

$navbar-brand-font-size: 2rem;

@mixin primaryGradientText($direction) {
  background-image: linear-gradient($direction, #ffb199 0%, #ff0844 80%);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
}

* body {
  background-image: url('../assets/healthcheck.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.navbar-brand {
  @include primaryGradientText(to bottom);
}


#article {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 50%;
    z-index: -1;
  }

  #title {
    @include primaryGradientText(to bottom left);
    display: flex;
    justify-content: center;
    text-align: center;
    color: $secondary;
    margin-top: 10vw;
    font-size: 8vw;
    font-weight: 500;
    cursor: default;
    animation: fadeIn 1s;
  }

  p {
    font-size: 1.5vw;
    color: white;
    max-width: 50%;
    text-align: center;
    animation-name: fadeIn;
    animation: fadeIn 2s;
    font-weight: 400;
  }

  height: 52.3vh;
  user-select: none;
}

#about {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 50%;
    z-index: -1;
  }

  #about-title {
    @include primaryGradientText(to bottom left);
    display: flex;
    justify-content: center;
    text-align: center;
    color: $secondary;
    margin-top: 10vw;
    font-size: 8vw;
    font-weight: 500;
    cursor: default;
    animation: fadeIn 1s;
  }

  p {
    font-size: 1.2vw;
    font-weight: 400;
    color: black;
    max-width: 70%;
    text-align: center;
    animation-name: fadeIn;
    animation: fadeIn 2s;
  }

  vertical-align: middle;
  height: 100vh;
  background-color: #010c0e;
  background-image: url('../assets/about.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@import "../node_modules/bootstrap/scss/bootstrap";