$primary: #f77062;


* body {
    height: 100%;
}

.navbar-brand {
  background-image: linear-gradient(#ffb199 0%, #ff0844 80%);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



@import "../node_modules/bootstrap/scss/bootstrap";